output*/

data/*.record

data/train/*.jpg
data/train/*.png

data/eval/*.jpg
data/eval/*.png

data/test/*.jpg
data/test/*.png
data/test/*.mp4

data/result/*.jpg
data/result/*.png
data/result/*.mp4

.vscode